@font-face {
  font-family: valorant;
  src: url('./fonts/valorant.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ValorantTitleText {
  font-family: valorant;
}

.backgroundEllipse {
  background-image: url('./images/ellipse.png');
  background-repeat: no-repeat;
  background-position: top;
  min-height: 700px;
}

.backgroundPage {
  min-width: 100%;
  min-height: 937px;
  width: 100vw;
  height: 100vh;
  background-color: #212529;
  flex-direction: column;
  text-align: center;
  background-size: 100% 100%;
}

.landingPage {
  max-width: 70vw;
  margin: auto;
  overflow: auto;
  min-height: 100px;
  padding: 50px;
  border-radius: 5px;
  text-align: center;
}

img {
  height: auto;
  width: 90px;
  object-fit: contain;
}

.imgLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5em;
}

#image2 {
  width: 75%;
  text-align: center;
  padding: 10px;
}

.image3 {
  width: 90%;
  text-align: center;
  padding: 10px;
}

.searchContainer {
  display: grid;
  grid-template-columns: 0.1fr 1.9fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
}

.landingSearch {
  font-size: 1.5em;
  max-width: 50%;
  max-height: 0vh;
  margin-left: 24%;
  padding: 50px;
  border-radius: 5px;
  margin-top: 0%;
  display: flex;
  align-items: center;
}

.landingRegion {
  font-size: 1.5em;
  max-width: 1%;
  max-height: 1vh;
  margin-left: 58%;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #949ba1;
}

select {
  padding: 0.3em;
  color: black;
  display: relative;
  align-items: center;
  border: 1px solid black;
  background-color: papayawhip;
  position: relative;
  border-radius: 3px;
  margin-left: 50%;

}

.landingInfo {
  height: 40%;
  margin: 3% 25%;
  align-items: space-between;
  color: #949ba1;

}

.landingInfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
  margin: 3% 25%;
  color: white;
  justify-items: center;
}

.column {
  float: left;
  width: 50%;
}

.githubSocial {
  color: white;
  align-items: center;
  display: relative;
}